<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="mode" value="Client"/>
    <!--<add key="mode" value="Client"/>-->
    <!--<add key="mode" value="Service"/>-->
    <add key="server" value="localhost:33301/"/>
    <!-- Service Settings -->
    <add key="port" value="30488"/>
    <add key="dnsIdentity" value="localhost"/>
    <add key="isService" value="false"/>
    <!-- End of Service Settings -->
  </appSettings>
  <connectionStrings>
    <add name="TestingConnectionString" connectionString="Data Source=.;Initial Catalog=Locator;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
