<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cnit.Testor.Core.Server.Properties.Settings.testingConnectionString" connectionString="Data Source=.;Initial Catalog=Locator;Integrated Security=True;" providerName="System.Data.SqlClient"/>
        <add name="Cnit.Testor.Core.Server.Properties.Settings.LocatorConnectionString" connectionString="Data Source=.;Initial Catalog=Locator;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
