<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=memory;timeout=20;"/>
  </appSettings>
  <connectionStrings>
    <add name="TestingConnectionString" connectionString="Data Source=.;Initial Catalog=Locator;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Cnit.Testor.Core.Server.Services.HelperService" behaviorConfiguration="TestorServiceHttpBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myHttpBinding" contract="Cnit.Testor.Core.IHelperService"/>
      </service>
      <service name="Cnit.Testor.Core.Server.Services.TestClient" behaviorConfiguration="TestorServiceHttpBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myHttpBinding" contract="Cnit.Testor.Core.ITestClient"/>
      </service>
      <service name="Cnit.Testor.Core.Server.Services.TestEdit" behaviorConfiguration="TestorServiceHttpBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myHttpBinding" contract="Cnit.Testor.Core.ITestEdit"/>
      </service>
      <service name="Cnit.Testor.Core.Server.Services.UserManagement" behaviorConfiguration="TestorServiceHttpBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myHttpBinding" contract="Cnit.Testor.Core.IUserManagement"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TestorServiceHttpBehavior">
          <serviceCredentials>
            <serviceCertificate findValue="localhost" x509FindType="FindBySubjectName" storeName="My" storeLocation="LocalMachine"/>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Cnit.Testor.Core.Server.TestorUserNameValidator,Cnit.Testor.Core.Server"/>
          </serviceCredentials>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="myHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development
        -->
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424"/>-->
    <httpRuntime maxRequestLength="75000" executionTimeout="90000"/>
    <!--<browserCaps>
      <case>
        RequiresControlStateInSession=true
      </case>
    </browserCaps>-->
    <trace enabled="false" traceMode="SortByTime" pageOutput="true"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="Testor_Login" loginUrl="Login.aspx" protection="All" timeout="30" path="/" requireSSL="false" slidingExpiration="true"/>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.


        -->
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="404.aspx"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="/ImageCapthaHandler.aspx" verb="*" type="CoreWebClient.ImageCapthaHandler"/>
      <add path="/ImageHandler.aspx" verb="*" type="CoreWebClient.ImageHandler"/>
      <add path="/UserSearchHandler.aspx" verb="*" type="CoreWebClient.UserSearchHandler"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ImageHandler" path="ImageHandler.aspx" verb="*" type="CoreWebClient.ImageHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="ImageCapthaHandler" path="ImageCapthaHandler.aspx" verb="*" type="CoreWebClient.ImageCapthaHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="UserSearchHandler" path="UserSearchHandler.aspx" verb="*" type="CoreWebClient.UserSearchHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
</configuration>